---
layout: home
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash.png
entries_layout: grid
---
Welcome to the BioStackTicians little corner of the internet!
<br>
Be sure to engage with my <a href=/reflinks/>referral links</a> to show some appreciation.

<br>
Nothing you find here should constitute financial advice.  We just move in this space and try to pass on information and educational resources.

{% if page.name == 'index1.html' and insta_image != true %}
  <div id="IG_topFigure">
    <h1 class="archive__subtitle IG_top">Instagram Feed</h1>
    <figure class="sixth" id="IG_topFigure"></figure>
  </div>
{% endif %}

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h1>

{% for post in paginator.posts %}
  {% include archive-single-main.html %}
{% endfor %}

{% if page.url == '/' and insta_image != true and site.url == 'fake.url' %}
  <h1 class="archive__subtitle">Instagram Feed</h1>
  <div id="IG_bottom">
      <figure class="sixth" id="IG_bottomFigure"></figure>
  </div>
{% endif %}

{% include paginator.html %}
